<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<global-method-security secured-annotations="enabled">
	</global-method-security>
	<http pattern="/favicon.ico" security="none" />

	<http disable-url-rewriting="true" auto-config="true"
		access-denied-page="/auth/denied">


		<intercept-url pattern="/api/user/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/**" access="ROLE_ADMIN" />
		<!-- <intercept-url filters="none" pattern="/favicon.ico"/> -->
	</http>
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailService">
		</authentication-provider>
	</authentication-manager>

</beans:beans>
